<a href="https://colab.research.google.com/github/HaniyeDousti/Machine-Learning-Project/blob/main/SpamEmailwithNaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('mail_data.csv')
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [5]:
df['spam'] = df['Category'].apply(lambda x: 1 if x == 'spam' else 0)
df.head(5)

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [6]:
df.isnull().sum()

Category    0
Message     0
spam        0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(df.Message, df.spam, test_size=0.25)

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [11]:
from sklearn.naive_bayes import MultinomialNB

In [12]:
model = MultinomialNB()

In [14]:
model.fit(X_train_count, y_train)

MultinomialNB()

**Make a prediction**

In [16]:
emails = [
    'Hey mohan, can we get together to watch football game tmorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Do not miss this reward']

emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1])

In [18]:
model.score(X_train_count, y_train)

0.9932998324958124

In [17]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9849246231155779

**Using Pipeline**

In [21]:
from sklearn.pipeline import Pipeline

clf = Pipeline([
    
    ('vectorize', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [22]:
clf.fit(X_train, y_train)

Pipeline(steps=[('vectorize', CountVectorizer()), ('nb', MultinomialNB())])

In [23]:
clf.score(X_test, y_test)

0.9849246231155779

In [24]:
clf.predict(emails)

array([0, 1])