<a href="https://colab.research.google.com/github/HaniyeDousti/Machine-Learning-Project/blob/main/TitanicwithNiaveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('titanic.csv')

In [10]:
df

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [ ]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis='columns',inplace=True)

In [15]:
y = df.Survived
X = df.drop('Survived', axis=1)

**convert 'Sex' categorical values into dummy variables**

In [17]:
dummies = pd.get_dummies(X.Sex)
dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [18]:
X = pd.concat([X, dummies], axis=1)
X.head(5)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [22]:
X

     Pclass   Age     Fare  female  male
0         3  22.0   7.2500       0     1
1         1  38.0  71.2833       1     0
2         3  26.0   7.9250       1     0
3         1  35.0  53.1000       1     0
4         3  35.0   8.0500       0     1
..      ...   ...      ...     ...   ...
886       2  27.0  13.0000       0     1
887       1  19.0  30.0000       1     0
888       3   NaN  23.4500       1     0
889       1  26.0  30.0000       0     1
890       3  32.0   7.7500       0     1

[891 rows x 5 columns]

In [23]:
X.isnull().sum()

Pclass      0
Age       177
Fare        0
female      0
male        0
dtype: int64

In [24]:
X.columns[X.isna().any()]

Index(['Age'], dtype='object')

Age column has NaN values

In [29]:
X.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

Handling the NaN values of Age column

In [32]:
X.Age = X.Age.fillna(X.Age.mean())
X.head(6)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1

In [34]:
from tables.file import TransactionG
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [36]:
from sklearn.naive_bayes import GaussianNB

In [37]:
model = GaussianNB()

In [38]:
model.fit(X_train, y_train)

GaussianNB()

In [39]:
model.score(X_test, y_test)

0.7653631284916201

In [42]:
y_test[:10]

412    1
314    0
790    0
2      1
741    0
611    0
136    1
12     0
518    1
175    0
Name: Survived, dtype: int64

In [41]:
model.predict(X_test[:10])

array([1, 0, 0, 1, 0, 0, 1, 0, 1, 0])

In [43]:
model.predict_proba(X_test[:10])

array([[6.62763833e-04, 9.99337236e-01],
       [9.83005618e-01, 1.69943818e-02],
       [9.92182044e-01, 7.81795573e-03],
       [7.45052701e-02, 9.25494730e-01],
       [6.92525744e-01, 3.07474256e-01],
       [9.92131963e-01, 7.86803665e-03],
       [8.93964492e-03, 9.91060355e-01],
       [9.91001511e-01, 8.99848949e-03],
       [3.74030838e-02, 9.62596916e-01],
       [9.90591676e-01, 9.40832366e-03]])